* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #787878;
}

.tetris {
    width: 240px;
    height: 400px;
}