* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
}

.body {
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #141518;
    flex-direction: column;
    position: relative;
}

.canvas-con {
    position: relative;
    margin-bottom: 20px;
}

.tetris {
    width: 300px;
    height: 500px;
    position: relative;
    border: 19px solid #787878;
}

.score {
    margin-bottom: 20px;
}

.game-over {
    width: 100%;
    text-align: center;
    top: 100px;
    position: absolute;
    display: none;
}

.over-score {
    width: 100%;
    text-align: center;
    top: 130px;
    position: absolute;
    display: none;
}

.start {
    background: none;
    border: 5px solid #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.start:disabled {
    color: #787878;
    border: 5px solid #787878;
}

.desktop-playable {
    display: none;
}

@media screen and (max-width: 1020px) {
    .desktop-playable {
        position: absolute;
        height: 100vh;
        background: #000000;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        display: none;
    }
}
